@media screen and (min-width: 480px){
    .header__search-text, .search-area{
        display: block;
    }
    .header__search{
        top: 3rem;
        right: 2rem;
    }
    .banner__desc-text{
        float: left;
        font-size: 2rem;
        width: 66%;
    }
    .banner__desc-button{
        float: right;
    }
    .contact-button{
        font-size: 1.1rem;
    }
    .banner__desc-button{
        float: right;
    }
    .services{
        padding: 8rem 0;
    }
}

@media screen and (min-width: 768px){
    .bottom-left{
        float: left;
    }
    
    .bottom-right{
        float: right;
    }
    .banner__desc-text{
        font-size: 2.8rem;
    }
    .contact-button{
        font-size: 2.2rem;
    }
    .service-desc{
        margin-left: .4rem;
        width: 60%;
    }
}

@media screen and (min-width: 992px){
    html{
        font-size: 62.5%;
    }
    .header__logo-box{
        top: 5rem;
    }
    .header__nav-wrap{
        display: block;
    }
    .banner__desc-text{
        font-size: 3.2rem;
    }
    .contact-button{
        font-size: 2.5rem;
    }
}
